#bt1,
#bt2 {
  margin-right: 10px; /* Ajustement pour une meilleure disposition sur les petits écrans */
  border-radius: 30px;
  align-items: center;
  min-width: 100px; /* Taille minimale pour éviter la déformation sur les petits écrans */
  border: none;
  color: #222121;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
#bt2{
    background-color: #EAF205;
}

ul {
  margin: auto;
}

li {
  padding-left: 20px; /* Réduction de l'espacement entre les éléments de la liste */
  font-weight: 600;
}

#image {
  margin-left: 10px; /* Ajustement pour une meilleure disposition sur les petits écrans */
  height: 50px; /* Réduction de la taille du logo pour une meilleure adaptation */
}

#navbar {
  height: auto; /* Ajustement de la hauteur pour la rendre adaptable */
}

#titre {
  margin-top: 20px; /* Réduction de l'espace entre la barre de navigation et le titre */
  font-size: 1.5rem; /* Réduction de la taille du titre pour une meilleure adaptation */
  margin-top: 100px;
  font-weight: 600;
}
li:hover{
    border-bottom: solid 2px #2256F2;
}